@page
@model CartModel
@{
    ViewData["Title"] = "Cart";
}

<table>
    <thead>
    <tr>
        <td>Product Name</td>
        <td>Product Price</td>
        <td>Product Quantity</td>
        <td>Product Total</td>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
    {
        <tr>
            <td class="text-left">@item.Book.Title</td>
            <td class="text-center">@item.Book.Price</td>
            <td class="text-right">@item.Quantity</td>
            <td class="text-right">@(item.Book.Price * item.Quantity)</td>
        </tr>
    }
    </tbody>

    <tfoot>
    <tr>
        <td colspan="3" class="text-right">Total: </td>
        <td class="text-right">@Model.Cart?.ComputeTotalValue().ToString("c")</td>
    </tr>
    </tfoot>
</table>